<div class="container" id="container">

      <input type="text" id="input">
      <button type="button" id="btn_todo">Adicionar</button>
    

   
        <h1>ToDo List</h1>
        <div id="todo_list">
          
        
          

        </div>
    </div>

    

    <script src='/public/javascript.js'></script>